<div class="col-lg-6">
    <div class="box box-warning">
        <div class="box-header">
            <h3 class="box-title">Recently Edited Pages</h3>
        </div>

        <div class="box-body no-padding">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Last Update</th>
                </tr>
                </thead>
                <tbody>
                {for latestPages}
                <tr>
                    <td>
                        {if canAccess(uri: "/page/edit")}
                        <a href="/{@adminUri}/page/edit/{@item.id}">{@item.title}</a>
                        {/if}
                        {ifnot canAccess(uri: "/page/edit")}{@item.title}{/ifnot}
                    </td>
                    <td>{date_format date: item.updated_date; format: "short"}</td>
                </tr>
                {/for}
                </tbody>
            </table>
        </div>
    </div>
</div>