<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark"><i class="fa fa-fw fa-envelope "></i> {@form.title} Submissions</h1>
</div>


<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Date</th>
        <th width="20%">Actions</th>
    </tr>
    </thead>
    <tbody>
    {for submissions.items}
    <tr>
        <td>{@value.Contact.first_name} {@value.Contact.last_name}</td>
        <td>{@value.Contact.email}</td>
        <td>{@value.created_date.formatted}</td>
        <td>
            {if (can_access uri: "/form/view-submission")}
            <a class="btn btn-default btn-sm" href="/{@adminUri}/form/submission/{@value.id}">View</a>
            {/if}
        </td>
    </tr>
    {/for}
    </tbody>
</table>