<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa fa-fw fa-envelope "></i> Submission</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="jarviswidget jarviswidget-color-blueDark " data-widget-editbutton="false" data-widget-custombutton="false" role="widget" style="">

            <header role="heading">
                <h2>Contact</h2>

                {if (can_access uri: "/form/block-contact")}
                <div class="widget-toolbar" role="menu">
                    {if submission.Contact.is_blocked}
                    <a href="/backoffice/form/unblock-contact/{@submission.id}" class="btn btn-success">Unblock</a>
                    {/if}

                    {ifnot submission.Contact.is_blocked}
                    <a href="/backoffice/form/block-contact/{@submission.id}" class="btn btn-danger">Block</a>
                    {/ifnot}
                </div>
                {/if}
            </header>

            <div role="content">

                <div class="widget-body no-padding">
                    {if submission.Contact.is_blocked}
                    <div class="alert alert-warning" style="margin: 0">
                        This contact is blocked and cannot make any further form submissions.
                    </div>
                    {/if}

                    <table class="table table-bordered table-striped">

                        <tbody>
                            {if submission.Contact.title}
                            <tr>
                                <th>Title</th>
                                <td>{@submission.Contact.title.toUcWords}</td>
                            </tr>
                            {/if}

                            <tr>
                                <th>Name</th>
                                <td>{@submission.Contact.first_name} {@submission.Contact.last_name}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{@submission.Contact.email}</td>
                            </tr>
                            <tr>
                                <th>Phone</th>
                                <td>{@submission.Contact.phone}</td>
                            </tr>

                            {if submission.Contact.company}
                            <tr>
                                <th>Company</th>
                                <td>{@submission.Contact.company}</td>
                            </tr>
                            {/if}

                            {if submission.Contact.gender}
                            <tr>
                                <th>Gender</th>
                                <td>{@submission.Contact.gender.toUcWords}</td>
                            </tr>
                            {/if}

                            {if submission.Contact.date_of_birth}
                            <tr>
                                <th>Date of Birth</th>
                                <td>{@submission.Contact.date_of_birth.formatted}</td>
                            </tr>
                            {/if}

                            {if submission.Contact.marketing_optin}
                            <tr>
                                <th>Opt-in</th>
                                <td>{@submission.Contact.marketing_optin.yesNo}</td>
                            </tr>
                            {/if}

                            {if submission.Contact.address.address1}
                            <tr>
                                <th>Address</th>
                                <td>{@submission.Contact.address.address1}</td>
                            </tr>
                            {/if}

                            {if submission.Contact.address.address2}
                            <tr>
                                <th>Address #2</th>
                                <td>{@submission.Contact.address.address2}</td>
                            </tr>
                            {/if}

                            {if submission.Contact.address.town}
                            <tr>
                                <th>Town</th>
                                <td>{@submission.Contact.address.town}</td>
                            </tr>
                            {/if}

                            {if submission.Contact.postcode}
                            <tr>
                                <th>Postcode</th>
                                <td>{@submission.Contact.postcode}</td>
                            </tr>
                            {/if}
                        </tbody>

                    </table>

                </div>

            </div>

        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        {if submission.message}
        <div class="jarviswidget jarviswidget-color-blueDark " data-widget-editbutton="false" data-widget-custombutton="false" role="widget" style="">
            <header role="heading">
                <h2>Message</h2>
            </header>

            <div role="content">
                <div class="widget-body">
                    {@submission.message}
                </div>
            </div>
        </div>
        {/if}

        {if extra}
        <div class="jarviswidget jarviswidget-color-blueDark " data-widget-editbutton="false" data-widget-custombutton="false" role="widget" style="">
            <header role="heading">
                <h2>Other Fields</h2>
            </header>

            <div role="content">
                <div class="widget-body no-padding">
                    <table class="table table-bordered table-striped">

                        <tbody>
                        {for extra}
                        <tr>
                            <th>{@value.label}</th>
                            <td>{@value.value}</td>
                        </tr>
                        {/for}

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        {/if}
    </div>
</div>