<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Octo Setup</title>
    </head>

    <body class="setup">

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="box box-success">
                        <div class="box-header">
                            <h3 class="box-title">Welcome to Octo</h3>
                        </div>

                        <div class="box-body">
                            <p>Ready to get started with your website? Please enter a few details below to create your first user account.</p>
                            {% if error %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                            {% endif %}

                            <form class="form octo-form" action="/manage/setup" method="POST">
                                <div class="form-group">
                                    <label for="name">Your name</label>
                                    <input class="form-control" type="text" name="name" id="name" placeholder="Joe Bloggs" required>
                                </div>

                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input class="form-control" type="email" name="email" id="email" placeholder="joe.bloggs@example.com" required>
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input class="form-control" type="password" name="password" id="password" required>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-success pull-right" type="submit">Create my account &raquo;</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="https://www.octocms.net" target="_blank" rel="external">
            <svg class="octo-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 532.47 345.93">
                <defs>
                    <style>
                        .cls-2{fill:none;}

                        .cls-1 { fill: #555; }
                        .cls-3 { fill: #888; }
                        .cls-4 { fill: #333; }
                        .cls-5 { fill: #444; }

                        #octo:hover .cls-1 { fill:#f26722; }
                        #octo:hover .cls-5 { fill:#dd5e1f; }
                        #octo:hover .cls-3{fill:#fff;}
                        #octo:hover .cls-4{fill:#231f20;}
                    </style>
                </defs>
                <title>octo</title>
                <g id="octo" data-name="Octo">
                    <g id="body">
                        <path class="cls-1" d="M358.15,115.72a91.76,91.76,0,0,1-91.76,91.72h0a91.76,91.76,0,0,1-91.76-91.72v-24A91.76,91.76,0,0,1,266.39,0h0a91.76,91.76,0,0,1,91.76,91.76h0Z"/>
                        <path class="cls-2" d="M215.48,174.46a97.8,97.8,0,0,1-97.8,97.8A78.25,78.25,0,0,1,39.46,194,62.6,62.6,0,0,1,102,131.43a49.87,49.87,0,0,1,35.42,14.68"/>
                        <path class="cls-1" d="M231.84,175.33l-.36,4.64-.45,5.58-1.49,9.25a118.84,118.84,0,0,1-7.11,22.73,114,114,0,0,1-15.91,26,116.14,116.14,0,0,1-26.66,23.9,110.75,110.75,0,0,1-36.75,15.07,84.87,84.87,0,0,1-10.26,1.66,77.57,77.57,0,0,1-10.49.71h-5.91l-4.71-.36-2.37-.16a25.38,25.38,0,0,1-2.86-.42l-5.84-1a88.48,88.48,0,0,1-70.36-75.59,46.8,46.8,0,0,1-.58-5.23l-.16-5.23v-4.29l.16-1,.36-4.61a75.78,75.78,0,0,1,5.49-20.33,73.12,73.12,0,0,1,10.23-16.69,70.59,70.59,0,0,1,57.63-26,57.18,57.18,0,0,1,35.07,13.86c1.3,1.14,2.27,2,2.89,2.69l.94.94a6.79,6.79,0,0,1-9.32,9.74l-.29-.26-.78-.68c-.49-.45-1.27-1.1-2.27-1.95a42.92,42.92,0,0,0-9.74-5.75A42.21,42.21,0,0,0,103,139.32a56.07,56.07,0,0,0-22.34,5A54.32,54.32,0,0,0,52.91,174a59.29,59.29,0,0,0-3.25,14.22v6.14h0l.16,2,.29,4a27.67,27.67,0,0,0,.65,4A68.18,68.18,0,0,0,55.5,220a69.39,69.39,0,0,0,20.33,25.78,67.31,67.31,0,0,0,29.58,13l3.57.45c.62,0,1.1.19,1.85.23h7.08l3.51-.29a54.35,54.35,0,0,0,8-.91,60,60,0,0,0,7.44-1.72A83.22,83.22,0,0,0,164,243.94a87,87,0,0,0,18.93-18.67,83.58,83.58,0,0,0,10.75-19.48l1.66-4.48a25.55,25.55,0,0,0,1.23-4.29l.91-4,.45-1.85.19-1.66c.26-2.11.52-4,.75-5.62l.16-5.52v-4.64a16.39,16.39,0,0,1,32.76.91h0C231.87,174.75,231.87,175,231.84,175.33Z"/>
                        <path class="cls-2" d="M317.3,174.46a97.8,97.8,0,0,0,97.8,97.8A78.25,78.25,0,0,0,493.31,194a62.57,62.57,0,0,0-62.54-62.6h0c-13.83,0-35.1,7.5-44.16,16.56"/>
                        <path class="cls-1" d="M333.66,174v4.74l.23,4.38c.19,1.85.36,4,.78,6.49a81,81,0,0,0,15.78,36.62,82.63,82.63,0,0,0,19.74,18.6A83.61,83.61,0,0,0,398.12,257a84.75,84.75,0,0,0,16.23,2.08h4.35a20.78,20.78,0,0,0,3.73-.23,63.71,63.71,0,0,0,8-1.2A65.88,65.88,0,0,0,459.87,243a67,67,0,0,0,18.9-27.4,64.94,64.94,0,0,0,3.73-16.23c.16-1.36.26-2.73.29-4.12v-1.3h0v-3.25a59.78,59.78,0,0,0-.78-7.5,52.53,52.53,0,0,0-13.25-26.56A53.35,53.35,0,0,0,446,142.08a54.45,54.45,0,0,0-12-2.4,17.07,17.07,0,0,1-2.89-.16h-2.89l-2.4.19a18.08,18.08,0,0,0-2.66.32,79,79,0,0,0-18.09,5.13,52.86,52.86,0,0,0-10.26,5.49,23.09,23.09,0,0,0-2.14,1.69l-.68.58-.58.52a7.61,7.61,0,0,1-10.2-11.3h0l1.1-1.07a38.18,38.18,0,0,1,3.25-2.82,68.18,68.18,0,0,1,13-7.66,94.94,94.94,0,0,1,21.69-7c1.1-.23,2.27-.36,3.41-.55s2.57-.29,3.86-.42H435a72,72,0,0,1,67.18,56.85,77.93,77.93,0,0,1,1.56,11.07v5.23c0,1.79,0,3.6-.16,5.39a86.73,86.73,0,0,1-4,21.59A90.43,90.43,0,0,1,425,284.66c-1.85.26-4,.42-5.88.55H413.9a112.16,112.16,0,0,1-110.62-89.74c-.71-3.25-1.1-6.27-1.49-8.86s-.52-5.2-.65-7l-.23-4.74a16.38,16.38,0,0,1,32.73-1.53A4.8,4.8,0,0,1,333.66,174Z"/>
                        <path class="cls-2" d="M97.91,338.81C207.72,321,292.72,212.18,246.06,109.71"/>
                        <path class="cls-1" d="M97.45,335.66l3.25-1.1c2.14-.78,5.58-1.66,9.42-3.25l6.49-2.53,7.47-3.25c5.29-2.5,11.1-5.52,17.21-9.16,3.08-1.72,6.1-3.9,9.32-5.91s6.3-4.45,9.48-6.88a193.78,193.78,0,0,0,18.7-16.53,174,174,0,0,0,17-19.81A155.85,155.85,0,0,0,209.57,245a138.39,138.39,0,0,0,9.51-23.38,121.21,121.21,0,0,0,4.74-22.73,104.74,104.74,0,0,0,.23-20.78c0-3.25-.81-6.3-1.17-9.25a68.52,68.52,0,0,0-1.85-8.34,58.7,58.7,0,0,0-2.34-7.44c-.91-2.31-1.59-4.48-2.53-6.49l-2.57-5.52-2.44-4.71A30.33,30.33,0,0,0,209,132.8l-1.69-2.6L206,128.06a44.58,44.58,0,1,1,80.23-37.14l.16.62,1.33,4.38,1.56,5.26c.65,2,1.3,4.45,1.88,7.18l2,9,1.66,10.75c.58,3.8.78,8,1.17,12.24s.23,8.86.32,13.57a125.56,125.56,0,0,1-.88,14.64,127.49,127.49,0,0,1-2.31,15.36A171.5,171.5,0,0,1,284,215.37,180.85,180.85,0,0,1,268.6,245.6a190.14,190.14,0,0,1-20.52,27,199.59,199.59,0,0,1-24,22.57,210.24,210.24,0,0,1-25.72,17.66,222.94,222.94,0,0,1-25.62,12.83c-4.19,1.72-8.28,3.25-12.24,4.71A119.21,119.21,0,0,1,148.85,334c-7.47,2.14-14.42,3.7-20.55,4.84l-8.6,1.43-7.44.84c-4.48.62-7.79.55-10.13.75l-3.57.19a3.25,3.25,0,0,1-1.17-6.27Z"/>
                        <path class="cls-2" d="M434.74,338.81C324.93,321,239.93,212.18,286.62,109.71"/>
                        <path class="cls-1" d="M434.16,341.93l-3.57-.19a84.89,84.89,0,0,1-10.13-.75l-7.44-.84-8.6-1.43c-6.14-1.14-13-2.66-20.55-4.84-3.77-1-7.57-2.4-11.62-3.67s-8.05-3-12.24-4.71a222.84,222.84,0,0,1-25.62-12.83A210.2,210.2,0,0,1,308.66,295a199.59,199.59,0,0,1-24-22.57,190.14,190.14,0,0,1-20.49-27,180.82,180.82,0,0,1-15.36-30.23,171.5,171.5,0,0,1-9.16-31.46c-1.14-5.2-1.62-10.33-2.31-15.36a143.2,143.2,0,0,1-.88-14.64,123.45,123.45,0,0,1,.32-13.57c.32-4.29.58-8.44,1.17-12.24l1.66-10.75,2-9c.58-2.73,1.23-5.13,1.88-7.18l1.56-5.26,1.33-4.38V91a44.58,44.58,0,0,1,86.17,22.89q-.41,1.56-.94,3.09a46.27,46.27,0,0,1-5,10.81l-1.36,2.14-1.69,2.6a30.29,30.29,0,0,0-2.11,3.57L319,140.66l-2.53,5.52c-.94,2-1.59,4.19-2.53,6.49s-1.46,4.81-2.34,7.44a64.09,64.09,0,0,0-1.85,8.34,63.74,63.74,0,0,0-1.17,9.25,104.71,104.71,0,0,0,.23,20.78,121.17,121.17,0,0,0,4.74,22.73A138.41,138.41,0,0,0,323,244.59a155.85,155.85,0,0,0,13.8,22.24,174,174,0,0,0,17,19.81,193.71,193.71,0,0,0,18.7,16.53c3.25,2.4,6.49,4.71,9.48,6.88A93.14,93.14,0,0,0,391.3,316c6.1,3.64,11.92,6.66,17.21,9.16l7.47,3.25,6.49,2.53c3.83,1.62,7.27,2.5,9.42,3.25l3.25,1.1a3.25,3.25,0,0,1-1.17,6.27Z"/>
                        <path class="cls-2" d="M153.1,343.62c80-13,141.89-92.18,107.93-166.92"/>
                        <path class="cls-1" d="M152.65,341.35l2.47-.81c1.56-.55,4.06-1.2,6.88-2.37l4.68-1.85,5.45-2.47c3.83-1.82,8.08-4,12.53-6.69a144.45,144.45,0,0,0,13.7-9.32,141.15,141.15,0,0,0,13.6-12,126.63,126.63,0,0,0,12.37-14.45,113.41,113.41,0,0,0,10.07-16.23,100.65,100.65,0,0,0,6.95-17,88.28,88.28,0,0,0,3.44-16.66,76.3,76.3,0,0,0,.16-15.16,74,74,0,0,0-2.21-12.83,82.57,82.57,0,0,0-3.54-10.13l-1.85-4L235.51,196c-1-2-2.18-3.47-2.76-4.51l-1-1.56a32.47,32.47,0,1,1,58.44-27v.45l1,3.25c.58,2.11,1.69,5.07,2.5,9.06l1.46,6.49,1.2,7.83a139.62,139.62,0,0,1,1.07,18.83c0,3.44-.29,7-.62,10.65a107.34,107.34,0,0,1-1.53,11,124.94,124.94,0,0,1-6.66,22.92,131.76,131.76,0,0,1-11.2,22,138.54,138.54,0,0,1-15,19.64,145.36,145.36,0,0,1-17.5,16.59,153.16,153.16,0,0,1-18.73,13A162.35,162.35,0,0,1,207.52,334a160.69,160.69,0,0,1-17.37,6.1c-5.45,1.56-10.49,2.69-15,3.51l-6.27,1-5.42.62c-3.25.45-5.68.39-7.37.55h-2.6a2.34,2.34,0,0,1-.88-4.55Z"/>
                        <path class="cls-2" d="M379.67,343.62c-80-13-141.89-92.18-107.93-166.92"/>
                        <path class="cls-1" d="M379.25,345.92h-2.6a40.76,40.76,0,0,1-7.37-.55l-5.42-.62-6.27-1c-4.48-.84-9.51-1.95-15-3.51a160.72,160.72,0,0,1-17.37-6.1,162.34,162.34,0,0,1-18.67-9.42,153.12,153.12,0,0,1-18.73-13,145.4,145.4,0,0,1-17.5-16.43,138.54,138.54,0,0,1-15-19.64,131.73,131.73,0,0,1-11.2-22,124.94,124.94,0,0,1-6.66-23.09c-.84-3.77-1.2-7.53-1.66-11.17s-.52-7.21-.62-10.65a139.62,139.62,0,0,1,1.07-18.83l1.2-7.66,1.46-6.49c.84-4,1.95-6.95,2.5-9.06l1-3.25v-.29a32.48,32.48,0,1,1,62.11,19,33.7,33.7,0,0,1-3.64,7.89l-1,1.56a52,52,0,0,0-2.76,4.51l-1.85,3.25-1.85,4a82.57,82.57,0,0,0-3.54,10.13,74,74,0,0,0-2.21,12.83,76.3,76.3,0,0,0,.16,15.16,88.28,88.28,0,0,0,3.44,16.66,100.65,100.65,0,0,0,6.95,17,113.41,113.41,0,0,0,10.07,16.23,126.63,126.63,0,0,0,12.37,14.45,141.18,141.18,0,0,0,13.6,12,144.45,144.45,0,0,0,13.7,9.32c4.45,2.66,8.67,4.87,12.53,6.69l5.45,2.47,4.68,1.85c2.79,1.17,5.29,1.82,6.88,2.37l2.47.81a2.34,2.34,0,0,1-.88,4.55Z"/>
                        <path class="cls-2" d="M8.88,272.74c88.19,50.78,211.21,22.73,237.41-77"/>
                        <path class="cls-1" d="M13.07,264.95l3,1.36,3.54,1.62,2.24,1,2.4.94,5.52,2.21,6.88,2.34a156.19,156.19,0,0,0,16.75,4.48c3.08.75,6.49,1.2,9.74,1.85s6.85.94,10.46,1.33a178.16,178.16,0,0,0,22.57.71,161.76,161.76,0,0,0,23.7-2.5,147.08,147.08,0,0,0,23.54-6.14A133.41,133.41,0,0,0,165,264.46a119.68,119.68,0,0,0,18.47-12.57,106,106,0,0,0,14.38-14.35c2.14-2.37,3.83-5,5.62-7.34A63.71,63.71,0,0,0,208,223a75.69,75.69,0,0,0,3.64-7c1-2.31,2.08-4.38,2.82-6.49l2.14-5.81,1.4-5a73.28,73.28,0,0,0,1.72-7.21l.58-2.57.26-1.17A26.86,26.86,0,0,1,273,199.36a29.9,29.9,0,0,1-.88,3.25l-1.3,3.64c-.91,2.34-1.88,5.88-3.9,10.16l-3.25,7.11-4.12,8.05c-1.53,2.89-3.47,5.81-5.36,9s-4.32,6.23-6.62,9.48a124,124,0,0,1-8,9.74,98.63,98.63,0,0,1-9.35,9.45,149.88,149.88,0,0,1-22.44,17.27A160.49,160.49,0,0,1,181.38,300a170.82,170.82,0,0,1-28.74,8.47,181,181,0,0,1-29.22,3.83,192.44,192.44,0,0,1-28.28-.58,205.76,205.76,0,0,1-26-4.06c-4-.94-7.92-1.95-11.66-3s-7.31-2.18-10.68-3.44C40,298.84,34,296.28,28.75,293.84l-7.14-3.44-6.17-3.25-2.63-1.46-2.11-1.3-3.25-2.08L4.69,280.6a8.88,8.88,0,1,1,8.38-15.65Z"/>
                        <path class="cls-2" d="M523.93,272.74c-88.35,50.75-211.21,22.73-237.38-77"/>
                        <path class="cls-1" d="M528.12,280.47l-2.76,1.72-3.25,2.08-2.11,1.3L517.37,287l-6.17,3.25-7.44,3.67c-5.26,2.44-11.3,5-18.09,7.37-3.25,1.27-7,2.24-10.68,3.44s-7.63,2-11.66,3a205.73,205.73,0,0,1-25.72,4,192.41,192.41,0,0,1-28.22.55,181,181,0,0,1-29.22-3.83,170.79,170.79,0,0,1-28.74-8.7A160.43,160.43,0,0,1,325,286.21,149.85,149.85,0,0,1,302.46,269c-3.44-3-6.49-6.49-9.35-9.45a114.71,114.71,0,0,1-8-9.74,110.41,110.41,0,0,1-6.49-9.45c-1.82-3-3.93-5.94-5.39-8.83L269,223.42l-3.25-7.11c-2-4.29-3-7.83-3.9-10.16l-1.3-3.64a26.86,26.86,0,1,1,50.65-17.89,27.14,27.14,0,0,1,.84,3l.29,1.33.58,2.57c.45,1.62.71,4.22,1.72,7.21l1.46,5.07,2.14,5.81c.75,2.11,1.85,4.16,2.82,6.49s2.37,4.51,3.64,7a74.32,74.32,0,0,0,4.58,7.24,63.9,63.9,0,0,0,5.62,7.34A105.91,105.91,0,0,0,349.28,252a119.65,119.65,0,0,0,18.47,12.57,133.35,133.35,0,0,0,21.62,9.74,147,147,0,0,0,23.47,6,161.73,161.73,0,0,0,23.7,2.5,178.19,178.19,0,0,0,22.57-.71c3.57-.39,7.08-.84,10.46-1.33s6.49-1.07,9.74-1.85c6.2-1.33,11.82-2.92,16.75-4.48l6.88-2.34,5.58-2.21,2.4-.94,2.24-1,3.57-1.66,3-1.36a8.83,8.83,0,0,1,8.41,15.52Z"/>
                        <circle class="cls-1" cx="209.67" cy="132.31" r="42.99"/>
                        <circle class="cls-1" cx="323.11" cy="132.31" r="42.99"/>
                    </g>

                    <g id="Eyes_and_Dots" data-name="Eyes and Dots">
                        <circle class="cls-3" cx="215.48" cy="132.31" r="32.47"/>
                        <circle class="cls-4" cx="215.51" cy="132.31" r="11.49"/>
                        <circle class="cls-3" cx="317.3" cy="132.31" r="32.47"/>
                        <circle class="cls-4" cx="317.3" cy="132.31" r="11.49"/>
                        <circle class="cls-5" cx="266.39" cy="21.3" r="6.23"/>
                        <circle class="cls-5" cx="248.63" cy="29.35" r="6.23"/>
                        <circle class="cls-5" cx="284.18" cy="29.35" r="6.23"/>
                    </g>
                </g>
            </svg>
        </a>
    </body>
</html>