<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="page-title txt-color-blueDark"><i class="fa fa-fw fa-qrcode"></i> Manage Items</h1>
</div>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Price</th>
        <th width="20%">Actions</th>
    </tr>
    </thead>
    <tbody>
    {for items}
    <tr>
        <td>{@value.title}</td>
        <td>&pound;{@value.price}</td>
        <td>
            <div class="btn-group">
                {if (can_access uri: "/item/edit")}
                <a class="btn btn-default btn-sm" href="/{@adminUri}/item/edit/{@value.id}">Edit</a>
                {/if}

                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
                <ul class="dropdown-menu">


                    {if (can_access uri: "/item/delete")}
                    <li>
                        <a href="/{@adminUri}/item/delete/{@value.id}">Delete</a>
                    </li>
                    {/if}
                </ul>
            </div>
        </td>
    </tr>
    {/for}
    </tbody>
</table>
