<div class="row">
    <div class="col-lg-12">
        <div class="box box-primary">
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Template Tag</th>
                        <th width="120px">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {loop menus.items}
                    <tr>
                        <td><a href="/{@adminUri}/menu/items/{@item.id}">{@item.name}</a></td>
                        <td>{@item.template_tag}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm" href="/{@adminUri}/menu/edit/{@item.id}">Edit</a>
                                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/{@adminUri}/menu/delete/{@item.id}" class="btn-delete">Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {/loop}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

