<div class="row">
    <div class="col-lg-12">
        <div class="box box-primary">
            <div class="box-body no-padding">
                <table class="table table-striped" id="menu-items">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Page / Link</th>
                        <th width="2%"> </th>
                        <th width="10%">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {loop items}
                    <tr class="menu-item" data-id="{@item.id}">
                        <td><input class="menu-item-title form-control" type="text" value="{@item.title}"></td>

                        {if item.page_id}
                        <td>{@item.Page.CurrentVersion.title}</td>
                        {/if}
                        {ifnot item.page_id}
                        <td>{@item.url}</td>
                        {/ifnot}

                        <td width="2%"><i class="fa fa-fw fa-arrows handler"></i></td>
                        <td>
                            <button class="remove-item btn btn-danger btn-sm" class="btn-delete">Delete</button>
                        </td>
                    </tr>
                    {/loop}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-lg-12">

        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Add Item</h3>
            </div>

            <div role="content">

                <div class="box-body">
                    <form class="smart-form">

                            <fieldset>
                                <div class="form-group">
                                    <label class="">Page</label>
                                        <input id="new-page" name="page" type="text" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label class="">Title</label>
                                        <input id="new-title" name="title" type="text" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label class="">Link</label>
                                        <input id="new-link" name="link" type="text" class="form-control">
                                </div>
                            </fieldset>

                            <footer>
                                <button id="add-item" type="submit" class="btn btn-primary">
                                    Add Item
                                </button>
                            </footer>
                        </form>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function registerEvents()
    {
        $(document).on('change', '.menu-item-title', function(e) {
            e.stopPropagation();
            $('.pace').removeClass('hide');

            var id = $(this).parents('tr').data('id');
            $.post('/'+window.adminUri+'/menu/items/{@menu.id}', {item: {id: id, title: $(this).val()}}, function () {
                $('.pace').addClass('hide');
            });

            return false;
        });

        $(document).on('click', '.remove-item', function (e) {
            e.stopPropagation();

            var id = $(this).parents('tr').data('id');
            $(this).parents('tr').remove();
            $.post('/'+window.adminUri+'/menu/items/{@menu.id}', {delete: id}, function () {
                $('.pace').addClass('hide');
            });

            return false;
        });

        $('#menu-items tbody').sortable({
            handle: '.handler',
            axis: 'y',
            items: '> tr',
            helper: fixHelper,
            update: function () {
                var position = 0;
                var items = {};

                $('tr.menu-item').each(function () {
                    var id = $(this).data('id');
                    items[id] = position++;
                });

                savePositions(items);
            }
        });
    }

    $(document).ready(function () {

        registerEvents();

        $('#new-page').select2({
            placeholder: "Search for a page",
            minimumInputLength: 1,
            ajax: {
                url: '/'+window.adminUri+'/page/autocomplete',
                dataType: 'json',
                data: function(term) {
                    return {
                        q: term
                    };
                },
                results: function(data) {
                    return data;
                }
            }
        }).on('change', function() {
            if ($('#new-title').val() == '') {
                $('#new-title').val($(this).select2('data').text);
            }

            $('#new-link').prop('disabled', true);
            $('#new-link').attr('placeholder', 'Cannot change link when you choose a page.');
        });

        $('#add-item').on('click', function (e) {
            e.preventDefault();

            var position = 0;
            $('tr.menu-item').each(function () {
                position++;
            });

            position++;

            var item = {
                position: position,
                title: $('#new-title').val()
            };

            var pageId = $('#new-page').val();
            if (pageId) {
                item.page_id = pageId;
            } else {
                item.url = $('#new-link').val();
            }

            $.post('/'+window.adminUri+'/menu/items/{@menu.id}', {item: item}, function (data) {
                $('.pace').addClass('hide');

                data = JSON.parse(data);

                var row = $('<tr></tr>').addClass('menu-item').data('id', data.id);
                var input = $('<input>').addClass('menu-item-title form-control').attr('type', 'text').val(data.title);
                row.append($('<td></td>').append(input));

                if (data.Page) {
                    row.append($('<td></td>').text(data.Page.CurrentVersion.title));
                } else {
                    row.append($('<td></td>').text(data.url));
                }

                row.append('<td width="2%"><i class="fa fa-fw fa-arrows handler"></i></td>');
                row.append($('<td></td>').append('<button class="remove-item btn btn-danger btn-sm">Delete</button>'));

                $('#menu-items tbody').append(row);
                registerEvents();
                $('#new-title').val('');
                $('#new-page').val('');
                $('#new-link').val('');
            });

            return false;
        });
    });

    function savePositions(items)
    {
        $('.pace').removeClass('hide');

        $.post('/' + window.adminUri + '/menu/items/{@menu.id}', {positions: items}, function () {
            $('.pace').addClass('hide');
        });
    }

    var fixHelper = function(e, ui) {
        ui.children().each(function() {
            $(this).width($(this).width());
        });
        return ui;
    };
</script>
