<div class="row">
    <div class="col-lg-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#preview" data-toggle="tab"><i class="fa fa-search"></i> Page Preview</a></li>

                {if hasEditableBlocks}
                    {for blocks}
                        {if value.haseditable}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    {if item.icon}
                                    <i class="fa fa-{@item.icon}"></i>
                                    {/if}
                                    Edit {@item.title} <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    {for value.blocks}
                                        <li role="presentation">
                                            <a href="#tab_{@value.id}" data-toggle="tab" role="menuitem" tabindex="-1">{@value.name}</a>
                                        </li>
                                    {/for}
                                </ul>
                            </li>
                        {/if}
                    {/for}
                {/if}
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="preview">
                    <iframe id="page-preview" src="/page/preview/{@page.id}?version={@latest.id}" style="width: 100%; height: 450px; border: 0"></iframe>
                </div>

                {if hasEditableBlocks}
                    {for blocks}
                        {if value.haseditable}
                            {for value.blocks}
                                <div class="tab-pane" id="tab_{@value.id}">
                                    <h3>Edit {@value.name}</h3>
                                    {@value.editor}
                                </div>
                            {/for}
                        {/if}
                    {/for}
                {/if}

            </div>
        </div>
    </div>
</div>

<button id="edit-page-details" class="btn">Edit Page Details</button>
<a class="btn btn-success" href="/{@adminUri}/page/publish/{@page.id}">Publish Page</a>

<script>
    $(document).ready(function ()
    {
        PageLock.setup();

        var editor = new window.pageEditor();
        editor.id = '{@page.id}';
        editor.content = {@pageContent};
        editor.page = {
            title: '{@latest.title}',
            short_title: '{@latest.short_title}',
            description: '{@latest.description}',
            meta_description: '{@latest.meta_description}',
            template: '{@latest.template}',
            image_id: '{@latest.image_id}',
            parent_id: '{@page.parent_id}'
        };
        editor.templates = {@templates};
        editor.pages = {@pages};

        $('.block-save').on('click', function () {
            var form = $(this).parents('form');
            var formId = form.attr('id').replace('block_', '');
            var serialized = form.serializeArray();
            var content = {};

            for (var i in serialized) {
                content[serialized[i].name] = serialized[i].value;
            }

            editor.content[formId] = content;
            editor.saveContent();
        });

        $('#edit-page-details').click(function ()
        {
            var saveButton = $('<button>Save</button>').addClass('btn btn-success');
            var dialog = createDialog('page-details-editor', {allowClose: true, title: 'Edit Page Details', button: saveButton});

            var form = $('<form></form>').addClass('smart-form');
            var fieldset = $('<fieldset></fieldset>');
            form.append(fieldset);

            fieldset.append(textElement('page-title', 'Page Title', editor.page.title));
            fieldset.append(textElement('page-short_title', 'Short Title', editor.page.short_title));
            fieldset.append(textElement('page-description', 'Description', editor.page.description));
            fieldset.append(textElement('page-meta_description', 'Meta Description', editor.page.meta_description));

            if (editor.page.parent_id.length != undefined && editor.page.parent_id.length != 0) {
                fieldset.append(selectElement('page-parent', 'Parent', editor.pages, editor.page.parent_id));
            }

            fieldset.append(selectElement('page-template', 'Template', editor.templates, editor.page.template));
            fieldset.append(imagePicker('page-image', 'Image', editor.page.image_id));

            dialog.find('.modal-body').append(form);

            // Set up the save functionality:
            saveButton.on('click', function () {

                editor.page = {
                    title: $('#page-title').val(),
                    short_title: $('#page-short_title').val(),
                    description: $('#page-description').val(),
                    meta_description: $('#page-meta_description').val(),
                    template: $('#page-template').val(),
                    image_id: $('#page-image').val(),
                    parent_id: $('#page-parent').val()
                };

                editor.saveMetaData();

                dialog.on('hidden.bs.modal', function () {
                    dialog.remove();
                });

                dialog.modal('hide');
            });

            dialog.modal('show');
        });
    });



    var PageLock = {
        pingTimer: null,
        activityTimer: null,

        setup: function () {
            $(window).on('keypress', PageLock.onActivity);
            $(window).on('mousemove', PageLock.onActivity);

            $('div.well').on('mousemove', PageLock.onActivity);

            PageLock.pingTimer = setInterval(PageLock.ping, 5000);
            PageLock.activityTimer = setTimeout(PageLock.onInactiveTimeout, 60000 * 15);
        },

        ping: function () {
            $.get('/{@adminUri}/page/edit-ping/{@page.id}');
        },

        onActivity: function () {
            if (PageLock.activityTimer) {
                clearTimeout(PageLock.activityTimer);
            }

            if (PageLock.unlockTimer) {
                clearTimeout(PageLock.unlockTimer);
            }

            PageLock.activityTimer = setTimeout(PageLock.onInactiveTimeout, 60000 * 15);
        },

        onInactiveTimeout: function () {
            window.location.href = '/{@adminUri}/page';
        }
    }

</script>
