<form id="widget_data_form" action="https://rsm3.rsmsecure.com/demo/cpterminal/Widget.php" target="cp_widget" method="post" class="auto-form">
    <input type="hidden" name="vendorid" value="8953">
    <input type="hidden" name="firstname" value="{@invoice.Contact.first_name}">
    <input type="hidden" name="surname" value="{@invoice.Contact.last_name}">
    <input type="hidden" name="address1" value="{@billingAddress.address1}">
    <input type="hidden" name="address2" value="{@billingAddress.address2}">
    <input type="hidden" name="town" value="{@billingAddress.town}">
    <input type="hidden" name="postcode" value="{@billingAddress.postcode}">
    <input type="hidden" name="country" value="{@country_code}">
    <input type="hidden" name="email" value="{@invoice.Contact.email}">
    <input type="hidden" name="donationfix" value="{@donation}">
    <input type="hidden" name="purchasefix" value="{@invoice.total}">
    <input type="hidden" name="uniqueid" value="{@invoice.id}">
    <input type="hidden" name="giftaid" value="{@gift_aid}">
    <button type="submit" class="btn" id="btn-proceed">Proceed to payment</button>
</form>

<iframe id="cp_widget" name="cp_widget" frameborder="0" style="width: 100%; height: 424px; display: none"></iframe>

<script>
    $(document).ready(function () {
        $('#btn-proceed').on('click', function () {
            $(this).hide();
            $('#cp_widget').slideDown();
        });
    })
</script>
