<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="page-title txt-color-blueDark pull-left"><i class="fa fa-fw fa-shopping-cart"></i> Manage Variant Options: {@variant.title}</h1>
    <div class="pull-right header-buttons">
        <a class="btn-default btn" href="/{@adminUri}/variant-option/add/{@variant.id}"><i class="fa fa-plus"></i> Add Option</a>
    </div>
</div>

<table class="table table-bordered table-striped" id="table-items">
    <thead>
    <tr>
        <th>Title</th>
        <td width="2%"></td>
        <th width="20%">Actions</th>
    </tr>
    </thead>
    <tbody>
    {for variantOptions}
    <tr class="table-item" data-id="{@value.id}">
        <td>{@value.option_title}</td>
        <td><i class="fa fa-fw fa-arrows handler"></i></td>
        <td>
            <div class="btn-group">
                {if (can_access uri: "/variant-option/edit")}
                <a class="btn btn-default btn-sm" href="/{@adminUri}/variant-option/edit/{@value.id}">Edit</a>
                {/if}

                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {if (can_access uri: "/variant-option/edit")}
                    <li>
                        <a href="/{@adminUri}/variant-option/edit/{@value.id}">Edit</a>
                    </li>
                    {/if}

                    {if (can_access uri: "/variant-option/delete")}
                    <li>
                        <a href="/{@adminUri}/variant-option/delete/{@value.id}" class="btn-delete">Delete</a>
                    </li>
                    {/if}
                </ul>
            </div>
        </td>
    </tr>
    {/for}
    </tbody>
</table>


<script>
    $(document).ready(function(e) {
        $('#table-items tbody').sortable({
            handle: '.handler',
            axis: 'y',
            items: '> tr',
            helper: fixHelper,
            update: function () {
                var position = 0;
                var items = {};

                $('.table-item').each(function () {
                    var id = $(this).data('id');
                    items[id] = position++;
                });

                savePositions(items);
            }
        });
    });


    function savePositions(items)
    {
        $('.pace').removeClass('hide');

        $.post('/' + window.adminUri + '/variant-option/update-positions', {positions: items}, function () {
            $('.pace').addClass('hide');
        });
    }

    var fixHelper = function(e, ui) {
        ui.children().each(function() {
            $(this).width($(this).width());
        });
        return ui;
    };
</script>
