<div class="mini-basket block">
    <div class="header">Your Basket</div>

    <div id="shop-basket-items">

    </div>

    <a href="/checkout" class="btn btn-yellow checkout-proceed">Checkout now</a>
</div>

<script>

    $(document).ready(refreshBasket);
    $(document).on('basketUpdated', refreshBasket);

    function refreshBasket() {
        var container = $('#shop-basket-items');

        $.ajaxSetup ({
            // Disable caching of AJAX responses, IE11 needs it.
            cache: false
        });

        $.getJSON('/checkout', function (data) {
            container.empty();

            if (!data.items || data.items.length == 0) {
                container.html('<p>Your basket is empty.</p>');

                $('#basket-mobile-items').html('0');
                $('#basket-mobile-total').html('0.00');

                //disable button on checkout (clear and proceed)
               if($('.checkout-proceed').length > 0)
               {
                   $('.checkout-proceed').fadeOut('fast');
               }
                if($('#clear-basket').length > 0)
                {
                    $('#clear-basket').fadeOut('fast');
                }

            } else {
                //Update mobile basket
                $('#basket-mobile-items').html(data.items.length);
                $('#basket-mobile-total').html(data.total);

                //enable button on checkout (clear and proceed)
                if($('.checkout-proceed').length > 0)
                {
                    $('.checkout-proceed').fadeIn('fast');
                }
                if($('#clear-basket').length > 0)
                {
                    $('#clear-basket').fadeIn('fast');
                }
            }

            for (var i in data.items) {

                var item = $('<div></div>').addClass('item-row');
                item.append($('<div></div>').addClass('ir-title').append('<span>'+data.items[i].quantity+'</span> ').append(data.items[i].description));
                item.append($('<div></div>').addClass('ir-price').append('&pound;' + data.items[i].line_price));

                container.append(item);

                $('#item_' + data.items[i].id).find('.line-price').html('&pound;' + data.items[i].line_price);


            }

            var totalRow = $('<div></div>').addClass('item-row');
            totalRow.append($('<div></div>').addClass('ir-title').append('<strong>Total:</strong> '));
            totalRow.append($('<div></div>').addClass('ir-price').append('<strong>&pound;'+data.total+'</strong> '));
            container.append(totalRow);
        });

    }

</script>
