<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{@title}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>

    <!-- Octo -->
    <script src="/asset/js/System/class"></script>
    <script src="/asset/js/System/system"></script>
    <script>window.adminUri = '{@adminUri}';</script>

    <link href="" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="/asset/css/System/AdminLTE">
    <link rel="stylesheet" type="text/css" href="/asset/css/System/octo">

    {if siteCss}
    <link href="/assets/backoffice.css" rel="stylesheet" type="text/css">
    {/if}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="skin-blue">

<header class="header">
<a href="/{@adminUri}" class="logo">
    {if siteLogo}
    <img src="/assets/images/cms-logo.png" alt="" style="max-width: 150px">
    {/if}

    {ifnot siteLogo}
    <img src="/asset/img/System/logo.png" alt="" style="max-width: 150px">
    {/ifnot}
</a>

<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" role="navigation">
<!-- Sidebar toggle button-->
<a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>
<div class="navbar-right">
<ul class="nav navbar-nav">

<!-- User Account: style can be found in dropdown.less -->
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="glyphicon glyphicon-user"></i>
        <span>{@user.name} <i class="caret"></i></span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header bg-light-blue">
            <img src="//www.gravatar.com/avatar/{hash value: user.email}?d=mm" class="img-circle" alt="User Image" />
            <p>
                {@user.name}
                <small>Member since {@user.date_added.formatted}</small>
            </p>
        </li>

        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left">
                <a href="/{@adminUri}/user/profile" class="btn btn-default btn-flat">Edit Profile</a>
            </div>
            <div class="pull-right">
                <a href="/{@adminUri}/session/logout" class="btn btn-default btn-flat">Sign out</a>
            </div>
        </li>
    </ul>
</li>
</ul>
</div>
</nav>
</header>
<div class="wrapper row-offcanvas row-offcanvas-left">
<!-- Left side column. contains the logo and sidebar -->
<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="//www.gravatar.com/avatar/{hash value: user.email}?d=mm" class="img-circle" alt="{@user.name}" />
            </div>
            <div class="pull-left info">
                <p>Hello, {@user.name}</p>

                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="/{@adminUri}/search" method="GET" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..."/>
                            <span class="input-group-btn">
                                <button type='submit' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        {@menu}
    </section>
    <!-- /.sidebar -->
</aside>

<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {@title}
        {if subtitle}
        <small>{@subtitle}</small>
        {/if}
    </h1>

    <ol class="breadcrumb">
        <li>
            <a href="/{@adminUri}">{@siteName}</a>
        </li>

        {for breadcrumb}
        <li>
            {if item.link}<a href="/{@adminUri}{@item.link}">{/if}{@item.title}{if item.link}</a>{/if}
        </li>
        {/for}
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-lg-12">

            {if GlobalMessage:error}
            <div class="alert alert-danger fade in">
                <i class="fa fa-ban"></i>
                <strong>Error:</strong> {@GlobalMessage:error}
            </div>
            {/if}

            {if GlobalMessage:success}
            <div class="alert alert-success fade in">
                <i class="fa fa-check"></i>
                {@GlobalMessage:success}
            </div>
            {/if}

            {if GlobalMessage:info}
            <div class="alert alert-info fade in">
                <i class="fa fa-info"></i>
                {@GlobalMessage:info}
            </div>
            {/if}

        </div>
    </div>


{@content}
</section><!-- /.content -->
</aside><!-- /.right-side -->
</div><!-- ./wrapper -->

<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.4.5/ckeditor.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.4.5/adapters/jquery.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.resize.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.pie.min.js"></script>

<script src="/asset/js/System/AdminLTE/app" type="text/javascript"></script>
<script src="/asset/js/System/jquery.tablednd"></script>
<script src="/asset/js/System/plupload/plupload.full.min"></script>

<script src="/asset/js/System/ckeditor/init"></script>
<script src="/asset/js/System/ckeditor/cmsfile/plugin"></script>
<script src="/asset/js/System/ckeditor/cmsimage/plugin"></script>
<script src="/asset/js/System/ckeditor/octolink/plugin"></script>
<script src="/asset/js/System/ckeditor/youtube/plugin"></script>
<script src="/asset/js/System/ckeditor/youtube/lang/en"></script>


<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/asset/js/System/excanvas.min"></script><![endif]-->

</body>
</html>