
<!-- Small boxes (Stat box) -->
<div class="row">
    {for statistics}
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-{@value.color}">
            <div class="inner">
                <h3>
                    {@value.count}
                </h3>
                <p>
                    {@value.title}
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-{@value.icon}"></i>
            </div>

            <a href="/{@adminUri}{@value.link}" class="small-box-footer">
                Jump to {@value.title} <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    {/for}
</div><!-- /.row -->

<div class="row">
{for widgets}
    {@value.html}
{/for}
</div>