<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa fa-fw fa-home "></i> My Dashboard</h1>
    </div>

    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8 hidden-xs">
        <ul id="sparks" class="">
            {for statistics}
            <li class="sparks-info">
                <h5> {@value.title} <span class="txt-color-{@value.color}"><i class="fa fa-{@value.icon}"></i>&nbsp;{@value.count}</span></h5>
            </li>
            {/for}
            {if (can_access uri: "/form")}
            {if forms}
            <li class="sparks-info">
                <h5> Contacts <span class="txt-color-blue"><i class="fa fa-user"></i>&nbsp;{@contacts}</span></h5>
            </li>

            <li class="sparks-info">
                <h5> Submissions <span class="txt-color-purple"><i class="fa fa-envelope"></i>&nbsp;{@submissions}</span></h5>
            </li>
            {/if}
            {/if}

            {if pages}
            <li class="sparks-info">
                <h5> Total Pages <span class="txt-color-greenDark"><i class="fa fa-sitemap"></i>&nbsp;{@pages}</span></h5>
            </li>
            {/if}
        </ul>
    </div>
</div>

{for widgets}
    {@value.html}
{/for}