<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa fa-fw fa-home "></i> My Dashboard</h1>
    </div>

    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8 hidden-xs">
        <ul id="sparks" class="">
            {if (can_access uri: "/form")}
            {if forms}
            <li class="sparks-info">
                <h5> Contacts <span class="txt-color-blue"><i class="fa fa-user"></i>&nbsp;{@contacts}</span></h5>
            </li>

            <li class="sparks-info">
                <h5> Submissions <span class="txt-color-purple"><i class="fa fa-envelope"></i>&nbsp;{@submissions}</span></h5>
            </li>
            {/if}
            {/if}

            {if pages}
            <li class="sparks-info">
                <h5> Total Pages <span class="txt-color-greenDark"><i class="fa fa-sitemap"></i>&nbsp;{@pages}</span></h5>
            </li>
            {/if}
        </ul>
    </div>
</div>

{for widgets}
    {@value.html}
{/for}

<div class="row">
    
    {if forms}
    {if (can_access uri: "/form")}
    <div class="col-lg-6">
        <div class="jarviswidget jarviswidget-color-blueDark " data-widget-editbutton="false" data-widget-custombutton="false" role="widget" style="">
            <header role="heading">
                <h2>Latest Form Submissions</h2>
            </header>

            <div role="content">
                <div class="widget-body no-padding">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Date</th>
                            <th width="20%">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {for latestSubmissions}
                        <tr>
                            <td>{@value.Contact.first_name} {@value.Contact.last_name}</td>
                            <td>{@value.Contact.email}</td>
                            <td>{@value.created_date.formatted}</td>
                            <td>
                                {if (can_access uri: "/form/submission")}
                                <a class="btn btn-default btn-sm" href="/{@adminUri}/form/submission/{@value.id}">View</a>
                                {/if}
                            </td>
                        </tr>
                        {/for}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {/if}
    {/if}
</div>
