<div class="col-sm-6 col-lg-4 block">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Recently Active Users</h3>
        </div>

        <div class="box-body no-padding">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Active</th>
                </tr>
                </thead>
                <tbody>
                {for users}
                <tr>
                    <td>
                        {if canAccess(uri: "/user/edit")}
                        <a href="{@adminUri}/user/edit/{@item.id}">{@item.name}</a>
                        {/if}
                        {ifnot canAccess(uri: "/page/edit")}{@item.name}{/ifnot}
                    </td>
                    <td>{date_format date: item.date_active; format: "short"}</td>
                </tr>
                {/for}
                </tbody>
            </table>
        </div>
    </div>
</div>