<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark"><i class="fa fa-fw fa-edit "></i> Manage Forms</h1>
</div>


<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th width="20%">Actions</th>
    </tr>
    </thead>
    <tbody>
    {for forms}
    <tr>
        <td>{@value.title}</td>
        <td>
            <div class="btn-group">
                {if (can_access uri: "/form/edit")}
                <a class="btn btn-default btn-sm" href="/{@adminUri}/form/edit/{@value.id}">Edit</a>
                {/if}

                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {if (can_access uri: "/form/submissions")}
                    <li>
                        <a href="/{@adminUri}/form/submissions/{@value.id}">View Submissions</a>
                    </li>
                    {/if}

                    {if (can_access uri: "/form/delete")}
                    <li>
                        <a href="/{@adminUri}/form/delete/{@value.id}" class="btn-delete">Delete</a>
                    </li>
                    {/if}

                </ul>
            </div>
        </td>
    </tr>
    {/for}
    </tbody>
</table>
