<div class="box box-primary">
    <div class="box-body no-padding">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Date</th>
                <th width="100px">Actions</th>
            </tr>
            </thead>
            <tbody>
            {for submissions}
            <tr>
                <td>{@value.Contact.first_name} {@value.Contact.last_name}</td>
                <td>{@value.Contact.email}</td>
                <td>{@value.created_date.formatted}</td>
                <td>
                    {if (can_access uri: "/form/submission")}
                    <a class="btn btn-default btn-sm" href="/{@adminUri}/form/submission/{@value.id}">View</a>
                    {/if}
                </td>
            </tr>
            {/for}
            </tbody>
        </table>
    </div>
</div>
