.btn-delete {} /*for IDE suggestion*/


#dead-link-spider div.row:nth-child(odd){
    background-color: #f0f0f0;
}
#dead-link-spider div.row {
    margin-left: 0;
    margin-right: 0;
}
#dead-link-spider div.row div{
    overflow:hidden;
    text-overflow:ellipsis;
}

.tree ul {
    list-style-type: none;
}

    .tree ul li div {
        margin-right: 15px;
    }




.pageview {
    font-size: 1.1em;
    list-style: none;
    margin: 0;
    padding: 0;
}
    .pageview li {
        cursor: pointer;
        line-height: 40px;
        margin: 0;
        vertical-align: middle;
    }

        .pageview li ul {
            background: #fff;
            list-style: none;
            margin: 0;
            padding: 0 0 0 15px;
        }

        .pageview li:hover {
            background: #fafafa;
        }

        .pageview li .fa {
            font-size: 1em;
            line-height: 25px;
            width: 25px;
        }

            .pageview li .fa:first-child {
                margin-left: 10px;
            }

        .pageview li .open-arrow {
            cursor: pointer;
            font-size: 1.2em;
        }

.page-options .btn {
    font-size: 1.2em;
    padding-left: 20px;
    text-align: left;
    vertical-align: middle;
}

    .page-options .btn .fa {
        margin-right: 20px;
        vertical-align: middle;
        width: 18px;
    }


input[type=checkbox] {
    margin-right: 10px;
}

.form-group {
    position: relative;
}


.sidebar-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 230px;
    padding: 0 10px 5px 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    text-align: right;
}

.sidebar-footer img {
    height: 35px;
}