<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="page-title txt-color-blueDark pull-left"><i class="fa fa-fw fa-bullhorn"></i>Manage Articles</h1>
    <a class="btn-default btn pull-right" href="/{@adminUri}/news/add"><i class="fa fa-plus"></i> Add Article</a>
</div>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Title</th>
			<th>Category</th>
			<th>Author</th>
			<th>Created</th>
			<th width="20%">Actions</th>
		</tr>
	</thead>
	<tbody>
        {loop articles}
		<tr>
			<td>{@item.title}</td>
			<td>{@item.Category.name}</td>
            <td>{@item.Author.name}</td>
            <td>{date_format date: item.created_date}</td>
			<td>
                <div class="btn-group">
					<a class="btn btn-default btn-sm" href="/{@adminUri}/news/edit/{@item.id}">Edit</a>
					<a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>
							<a href="/{@adminUri}/news/edit/{@item.id}">Edit</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="/{@adminUri}/news/delete/{@item.id}">Delete</a>
						</li>
					</ul>
				</div>
			</td>
		</tr>
        {/loop}
	</tbody>
</table>