
{ifnot user.is_admin}
<div class="row">
    <div class="col-lg-12">
        <div class="box box-primary">
            <div class="box-body">
                <form action="/{@adminUri}/user/permissions/{@user.id}" method="POST">
                    <div class="tree smart-form">
                        <ul role="tree">
                            {@Permissions:render}
                        </ul>
                    </div>
                    <br><br>
                    <input class="btn btn-success" type="submit" value="Update Permissions">
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    $('input').on('click', function () {
        var el = $(this);

        if (window.noCascade) {
            return;
        }

        window.noCascade = true;

        if (el.hasClass('parent-check')) {

            var group = el.parent().parent().parent();
            var checks = group.find('input');

            checks.prop('checked', el.prop('checked'));
        }

        if (el.prop('checked')) {
            var parent = el.parents('.parent_li');
            parent.find('> span label input').prop('checked', true);
        }
        window.noCascade = false;

    });

</script>
{/ifnot}

{if user.is_admin}
    <div class="alert alert-danger">
        This user is a system administrator, and has permission to access all areas of the system.
    </div>
{/if}