<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="page-title txt-color-blueDark"><i class="fa fa-fw fa-shopping-cart"></i> Manage Variants: {@product.title}</h1>
</div>

{if items}
<div class="row">
<div class="col-lg-12">

<div class="jarviswidget" data-widget-editbutton="false" data-widget-custombutton="false" role="widget" style="">
<header role="heading">
    <h2>Add Variant</h2>
</header>

<div role="content">

<table class="table table-bordered table-striped" id="menu-items">
    <thead>
    <tr>
        <th>Title</th>
        <th>Page / Link</th>
        <th width="2%"> </th>
        <th width="10%">Actions</th>
    </tr>
    </thead>
    <tbody>
    {loop items}
    <tr class="menu-item" data-id="{@item.id}">
        <td><input class="menu-item-title form-control" type="text" value="{@item.title}"></td>

        {if item.page_id}
        <td>{@item.Page.CurrentVersion.title}</td>
        {/if}
        {ifnot item.page_id}
        <td>{@item.url}</td>
        {/ifnot}

        <td width="2%"><i class="fa fa-fw fa-move handler"></i></td>
        <td>
            <button class="remove-item btn btn-danger btn-sm" class="btn-delete">Delete</button>
        </td>
    </tr>
    {/loop}
    </tbody>
</table>

</div>
</div>
{/if}

{if variants}
<div class="row">
    <div class="col-lg-12">

        <div class="jarviswidget jarviswidget-color-blueDark " data-widget-editbutton="false" data-widget-custombutton="false" role="widget" style="">
            <header role="heading">
                <h2>Add Variant</h2>
            </header>

            <div role="content">

                <div class="widget-body no-padding">
                    <form class="smart-form" action="/{@adminUri}/product/variants/{@product.id}" method="post">

                        <fieldset>
                            <section>
                                <label class="label">Variant</label>
                                <label class="select">
                                    <select class="select2" size="1" name="new_variant">
                                        {for variants}
                                        <option value="{@item.id}">{@item.title}</option>
                                        {/for}
                                    </select>
                                </label>
                            </section>

                        <footer>
                            <button id="add-item" type="submit" class="btn btn-primary">
                                Add Variant
                            </button>
                        </footer>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{/if}
