<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="page-title txt-color-blueDark"><i class="fa fa-fw fa-shopping-cart"></i> Manage Variants: {@product.title}</h1>
</div>

{if items}
<div class="row">
<div class="col-lg-12">

{for variants}
<div class="jarviswidget" data-widget-editbutton="false" data-widget-custombutton="false" role="widget" style="">
<header role="heading">
    <h2>{@item.title}</h2>
    <!--<div class="widget-toolbar" role="menu">-->
        <!--<button id="add-field" class="btn btn-danger">Delete</button>-->
    <!--</div>-->
</header>

<div role="content">

<table class="table table-bordered table-striped" id="menu-items">
    <thead>
    <tr>
        <th>Title</th>
        <th width="20%">Price Adjustment</th>
    </tr>
    </thead>
    <tbody>
    {loop item.options}
    <tr class="menu-item" data-id="{@item.id}">
        <td>{@item.title}</td>
        <td style="padding-right: 5px"><input class="menu-item-title form-control variant_price" style="padding-left: 5px;" name="price[{@item.item_variant_id}]" type="text" value="{@item.price_adjustment}"></td>
    </tr>
    {/loop}
    </tbody>
</table>

</div>
</div>
{/if}

    <form class="smart-form" id="variants-form" action="/{@adminUri}/product/variants/{@product.id}" method="post" style="border: none; padding: none; margin: none;">
    <div style="margin: 40px auto; width: 150px;">
        <input class="btn btn-lg btn-success" type="submit" value="Save Variants">
    </div>
    </form>

{if variants}
<div class="row">
    <div class="col-lg-12">

        <div class="jarviswidget jarviswidget-color-blueDark " data-widget-editbutton="false" data-widget-custombutton="false" role="widget" style="">
            <header role="heading">
                <h2>Add Variant</h2>
            </header>

            <div role="content">

                <div class="widget-body no-padding">
                    <form class="smart-form" action="/{@adminUri}/product/variants/{@product.id}" method="post">

                        <fieldset>
                            <section>
                                <label class="label">Variant</label>
                                <label class="select">
                                    <select class="select2" size="1" name="new_variant">
                                        {for variants}
                                        <option value="{@item.id}">{@item.title}</option>
                                        {/for}
                                    </select>
                                </label>
                            </section>

                        <footer>
                            <button id="add-item" type="submit" class="btn btn-primary">
                                Add Variant
                            </button>
                        </footer>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>
{/if}

<script>
$(document).ready( function(e) {
    $('#variants-form').submit( function(e) {
        e.preventDefault();
        var form = $(this);
        $('#variants_form input.price_adjustment').remove();

        $('input.variant_price').each( function(vp) {
            form.append( '<input class="price_adjustment" type="hidden" name="' + $(this).attr('name') + '" value="' + $(this).val() + '">');
        });

        form.off("submit");
        form.submit();
    });
});
</script>
