<div class="row">
{for contacts}
    <div class="col-lg-4">
        <div class="box {if item.is_blocked}box-danger{/if} {ifnot item.is_blocked}box-success{/if}" data-widget-editbutton="false" data-widget-custombutton="false" role="widget" style="">

            <div class="box-header" role="heading">
                <img style="float: left; margin-right: 10px;" src="//www.gravatar.com/avatar/{hash value: item.email}?d=mm&s=48" class="img-circle" alt="User Image" />


                <h3 class="box-title">{@item.first_name} {@item.last_name}</h3>

                <div class="box-tools pull-right" role="menu">
                    <div class="btn-group">
                        {if canAccess(uri: "/contact/edit")}
                        <a class="btn btn-default btn-sm" href="/{@adminUri}/contact/edit/{@value.id}">Edit</a>
                        {/if}

                        <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {if item.is_blocked}
                            <li><a href="/{@adminUri}/contact/unblock/{@item.id}" class="">Unblock</a></li>
                            {/if}

                            {ifnot item.is_blocked}
                            <li><a href="/{@adminUri}/contact/block/{@item.id}" class="">Block</a></li>
                            {/ifnot}

                            {if canAccess(uri: "/contact/delete")}
                            <li>
                                <a href="/{@adminUri}/contact/delete/{@value.id}" class="btn-delete">Delete</a>
                            </li>
                            {/if}

                        </ul>
                    </div>
                </div>
            </div>

            <div role="content">

                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tr>
                            <th>Email</th>
                            <td>{@item.email}</td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>{@item.phone}</td>
                        </tr>
                        <tr>
                            <th>Company</th>
                            <td>{@item.company}</td>
                        </tr>
                        </tbody>

                    </table>
                </div>

            </div>

        </div>
    </div>
{/for}
</div>