<div style="background: #246; padding: 20px">
    <p style="font-family: Tahoma, arial, sans-serif; color: #fff; margin-bottom: 10px">
        A visitor has filled in your <strong>{@form.title}</strong> form.
    </p>
    <table width="100%" style="background: #fff; border-radius: 7px">

        {if submission.Contact.first_name}
        <tr>
            <td style="width: 175px; font-family: Tahoma, arial, sans-serif; background: #EDF9FF; padding: 5px; font-weight: bold">
                Name
            </td>
            <td style="font-family: Tahoma, arial, sans-serif; padding: 5px">
                {@submission.Contact.title} {@submission.Contact.first_name} {@submission.Contact.last_name}
            </td>
        </tr>
        {/if}

        {if submission.Contact.email}
        <tr>
            <td style="width: 175px; font-family: Tahoma, arial, sans-serif; background: #EDF9FF; padding: 5px; font-weight: bold">
                Email address
            </td>
            <td style="font-family: Tahoma, arial, sans-serif; padding: 5px">
                {@submission.Contact.email}
            </td>
        </tr>
        {/if}

        {if submission.Contact.phone}
        <tr>
            <td style="width: 175px; font-family: Tahoma, arial, sans-serif; background: #EDF9FF; padding: 5px; font-weight: bold">
                Phone
            </td>
            <td style="font-family: Tahoma, arial, sans-serif; padding: 5px">
                {@submission.Contact.phone}
            </td>
        </tr>
        {/if}

        {if submission.message}
        <tr>
            <td colspan="2" style="font-family: Tahoma, arial, sans-serif; padding: 5px">
                <div style="margin-bottom: 10px"><strong>Message</strong></div>
                {@submission.message}
            </td>
        </tr>
        {/if}
    </table>

    <br><br><br>
    View this message online: {@config.site.url}/{@adminUri}/form/submission/{@submission.id}
</div>