<div class="col-lg-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Statistics</h3>

            <ul class="nav nav-tabs pull-right in" id="analytics">
                <li class="active">
                    <a data-toggle="tab" href="#pageviews">Pageviews</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#uniquePageviews">Unique Pageviews</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#visitors">Visitors</a>
                </li>
            </ul>
        </div>

        <div id="analytics_container">
            {include template: "Dashboard/analytics"; metric: "pageviews"}
            {include template: "Dashboard/analytics"; metric: "uniquePageviews"}
            {include template: "Dashboard/analytics"; metric: "visitors"; responsive: true}
        </div>
    </div>
</div>
