
<div class="row">
    <div class="col-lg-12">

{if invoice.id}
<form style="border: 0" action="/{@adminUri}/invoice/edit/{@invoice.id}" method="POST">
{/if}
{ifnot invoice.id}
<form style="border: 0" action="/{@adminUri}/invoice/add" method="POST">
{/ifnot}

<div class="jarviswidget jarviswidget-color-blueDark " data-widget-editbutton="false" data-widget-custombutton="false" role="widget" style="">
    <header role="heading">
        <h2>Invoice Details</h2>
    </header>

    <div role="content">


        <div class="widget-body">
            <fieldset class="form">
                <div class="form-group">
                    <label class="control-label">Title:</label>
                    <input name="title" type="text" class="form-control" value="{@invoice.title}">
                </div>

                <div class="form-group">
                    <label class="control-label">Created date:</label>
                    <input name="created_date" type="text" class="form-control sa-datepicker" value="{@invoice.created_date.formatted}">
                </div>

                <div class="form-group">
                    <label class="control-label">Due date:</label>
                    <input name="due_date" type="text" class="form-control sa-datepicker" value="{@invoice.due_date.formatted}">
                </div>

                <div class="form-group">
                    <label class="control-label">Invoice for:</label>
                    <input style="width: 100%" id="contact" name="contact_id" type="text">
                </div>
            </fieldset>
        </div>

    </div>

</div>


    <div class="jarviswidget jarviswidget-color-blueDark " data-widget-editbutton="false" data-widget-custombutton="false" role="widget" style="">

        <header role="heading">
            <h2>Items</h2>

            <div class="widget-toolbar" role="menu">
                <button id="add-item" class="btn btn-success"><i class="fa fa-plus-circle"></i> Add Item</button>
            </div>
        </header>

        <div role="content">

            <div class="widget-body no-padding">

                <table class="table table-bordered table-striped" id="invoice-items">
                    <thead>
                    <tr>
                        <th>Item</th>
                        <th>Description</th>
                        <th width="10%">Quantity</th>
                        <th width="10%">Unit Price</th>
                        <th width="10%">Amount</th>

                        <th width="2%"></th>
                    </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table>

            </div>

        </div>
    </div>

    <div style="margin: 40px auto; width: 150px;">
        <input class="btn btn-lg btn-success" type="submit" value="Save Invoice">
    </div>

</form>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#contact').select2({
            placeholder: "Search for a contact",
            minimumInputLength: 1,
            ajax: {
                url: '/'+window.adminUri+'/contact/autocomplete',
                dataType: 'json',
                data: function(term) {
                    return {
                        q: term
                    };
                },
                results: function(data) {
                    return data;
                }
            }
        });

{if invoice.contact_id}
        $('#contact').select2('data', {id: {@invoice.contact_id}, text: "{@invoice.Contact.first_name} {@invoice.Contact.last_name}"});
{/if}

{for invoiceItems}
            var values = {
                item_id: {@value.item_id},
                item_title: "{@value.Item.title}",
                description: "{@value.description}",
                quantity: {@value.quantity},
                item_price: {@value.item_price},
                line_price: {@value.line_price}
            };

            addInvoiceItem(values);

{/for}


        if ($('#invoice-items tbody').find('tr').length == 0) {
            addInvoiceItem({});
        }

        $('#add-item').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();

            addInvoiceItem({});
            return false;
        });
    });

    function addInvoiceItem(values)
    {
        if (typeof window.invoiceItemId == "undefined") {
            window.invoiceItemId = 0;
        } else {
            window.invoiceItemId += 1;
        }

        var tbody = $('#invoice-items tbody');

        var tr = $('<tr></tr>').addClass('invoice-item');
        var selectItem = $('<input>').css('width', '100%').attr('type', 'text').prop('required', true);
        var description = $('<input>').addClass('form-control').attr('type', 'text');
        var quantity = $('<input>').addClass('form-control').attr('type', 'text').prop('required', true).val(1);
        var unitPrice = $('<input>').addClass('form-control').attr('type', 'text').prop('required', true).val('0.00');
        var amount = $('<input>').addClass('form-control').attr('type', 'text').prop('disabled', true).prop('required', true).val('0.00');
        var removeRow = $('<button></button>').addClass('btn').css('padding', '5px').append($('<i></i>').addClass('fa fa-trash-o'));

        selectItem.attr('name', 'items['+window.invoiceItemId+'][item_id]');
        description.attr('name', 'items['+window.invoiceItemId+'][description]');
        quantity.attr('name', 'items['+window.invoiceItemId+'][quantity]');
        unitPrice.attr('name', 'items['+window.invoiceItemId+'][item_price]');
        amount.attr('name', 'items['+window.invoiceItemId+'][line_price]');

        if (values.description) {
            description.val(values.description);
        }
        if (values.quantity) {
            quantity.val(values.quantity);
        }
        if (values.item_price) {
            unitPrice.val(values.item_price);
        }
        if (values.line_price) {
            amount.val(values.line_price);
        }

        tr.append($('<td></td>').append(selectItem));
        tr.append($('<td></td>').append(description));
        tr.append($('<td></td>').append(quantity));
        tr.append($('<td></td>').append(unitPrice));
        tr.append($('<td></td>').append(amount));
        tr.append($('<td></td>').append(removeRow));

        tbody.append(tr);

        quantity.on('change', function () {
            updateLinePrices(quantity, unitPrice, amount);
        });

        unitPrice.on('change', function () {
            updateLinePrices(quantity, unitPrice, amount);
        });

        removeRow.on('click', function (e) {
            e.stopPropagation();

            $(this).parents('tr').remove();

            if ($('#invoice-items tbody').find('tr').length == 0) {
                addInvoiceItem({});
            }

            return false;
        })

        selectItem.select2({
            placeholder: "Search for an item",
            minimumInputLength: 1,
            ajax: {
                url: '/'+window.adminUri+'/item/autocomplete',
                dataType: 'json',
                data: function(term) {
                    return {
                        q: term
                    };
                },
                results: function(data) {
                    return data;
                }
            }
        }).on('change', function (e) {
            unitPrice.val(e.added.price);
            updateLinePrices(quantity, unitPrice, amount);

            if (e.added.short_description) {
                description.val(e.added.short_description);
            }
        });

        if (values.item_id) {
            selectItem.select2('data', {id: values.item_id, text: values.item_title});
        }
    }

    function updateLinePrices(quantity, unitPrice, amount)
    {
        quantity.val(quantity.val());
        unitPrice.val(parseFloat(unitPrice.val()).toFixed(2));

        var linePrice = (quantity.val() * unitPrice.val()).toFixed(2);
        amount.val(linePrice);
    }

</script>
