
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    {if toRun.migrations}<a class="btn-default btn pull-right" href="/{@adminUri}/database/run-migrations"><i class="fa fa-play-circle"></i> Run Migrations Now</a>{/if}
    <h1 class="page-title txt-color-blueDark"><i class="fa fa-fw fa-cogs "></i> Database Manager</h1>
</div>
</div>

<div class="row">
{if toRun.migrations}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="alert alert-warning">
            There are <strong>{@toRun.migrations}</strong> migrations to run, totalling <strong>{@toRun.queries}</strong> queries.
        </div>
    </div>
{/if}
</div>

<div class="jarviswidget jarviswidget-color-blueDark " data-widget-editbutton="false" data-widget-custombutton="false" role="widget" style="">

    <header role="heading">
        <h2>Database Migrations</h2>
    </header>

    <div role="content">

        <div class="widget-body no-padding">

            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Migration ID</th>
                    <th>Date Run</th>
                    <th width="20%">Queries</th>
                </tr>
                </thead>
                <tbody>
                {for migrations}
                <tr>
                    <td>{@key}</td>

                    {if value.migration}
                    <td>{date_format date: value.migration.date_run}</td>
                    {/if}
                    {ifnot value.migration}
                    <td><em>Not run yet</em></td>
                    {/ifnot}

                    <td>{@value.query_count}</td>
                </tr>
                {/for}
                </tbody>
            </table>

        </div>

    </div>

</div>