{if (can_access uri: "/form")}
<div class="col-lg-6">
    <div class="jarviswidget jarviswidget-color-blueDark " data-widget-editbutton="false" data-widget-custombutton="false" role="widget" style="">
        <header role="heading">
            <h2>Latest Form Submissions</h2>
        </header>

        <div role="content">
            <div class="widget-body no-padding">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Date</th>
                        <th width="20%">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {for latestSubmissions}
                    <tr>
                        <td>{@value.Contact.first_name} {@value.Contact.last_name}</td>
                        <td>{@value.Contact.email}</td>
                        <td>{@value.created_date.formatted}</td>
                        <td>
                            {if (can_access uri: "/form/submission")}
                            <a class="btn btn-default btn-sm" href="/{@adminUri}/form/submission/{@value.id}">View</a>
                            {/if}
                        </td>
                    </tr>
                    {/for}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{/if}