<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark"><i class="fa fa-fw fa-picture-o"></i> Edit {@scope_name}</h1>
</div>

{if image}
<div class="jarviswidget" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
	<div role="content" style="border-top: 1px solid #CDCDCD;">
        <div class="widget-body no-passing">
            <img src="{@image}" style="max-width: 100%; max-height: 100%" />
        </div>
    </div>
</div>
{/if}

<div class="jarviswidget" data-widget-editbutton="false" data-widget-custombutton="false" role="widget" style="">

	<div role="content">

		<div class="widget-body no-padding">

            {@form}

        </div>

    </div>

</div>