
<div class="row">
{if image}
<div class="col-lg-5">
<div class="box box-info">
	<div role="content" style="border-top: 1px solid #CDCDCD;">
        <div class="box-body no-passing">
            <img src="{@image}" class="img-responsive" />
        </div>
    </div>
</div>
</div>
{/if}

    <div class="col-lg-7">
        <div class="box box-primary">

            <div role="content">

                <div class="box-body">

                    {@form}

                </div>

            </div>

        </div>
        <br>
        {if image}
        <a href="/media/render/{@file.id}/2000/auto" class="btn btn-default btn-sm">View Large</a>&nbsp;&nbsp;
        {/if}
        <a href="/{@adminUri}/media/delete/{@scope}/{@file.id}" class="btn btn-danger btn-sm btn-delete">Delete</a>
    </div>
</div>