{if gallery}
<div class="row">
    {loop files}

    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title" style="min-height: 65px; max-height: 65px;">{@item.title}</h3>
            </div>

            <div class="box-body no-padding">
                <a href="/{@adminUri}/media/edit/{@scope}/{@item.id}"><img src="/media/render/{@item.id}/200/200" class="img-responsive"></a>
            </div>
        </div>
    </div>

    {/loop}
</div>
{/if}

{ifnot gallery}
<div class="row">
    <div class="col-lg-12">
    <div class="box box-primary">
        <div class="box-body no-padding">
            <table class="table table-striped" id="table-items">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Filename</th>
                    <th>Uploaded By</th>
                    <th>Uploaded/Added On</th>
                    {if reorder}<th width="2%"></th>{/if}
                    <th width="10%">Actions</th>
                </tr>
                </thead>
                <tbody>
                {loop files}
                <tr class="table-item" data-id="{@item.id}">
                    {if thumbnail}
                    <td align="center"><img src="/media/render/{@item.id}/100/100"></td>
                    <td><strong>Title:</strong> {@item.title}<br /><strong>Filename: </strong><a href="{@item.url}">{@item.filename}</a></td>
                    {/if}
                    {ifnot thumbnail}
                    <td>{@item.title}</td>
                    <td><a href="{@item.url}">{@item.filename}</a></td>
                    {/ifnot}
                    <td>{@item.User.name}</td>
                    <td>{date_format date: item.created_date; format: short}</td>
                    {if reorder}<td><i class="fa fa-fw fa-arrows handler"></i></td>{/if}
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" href="/{@adminUri}/media/edit/{@scope}/{@item.id}{@queryStringAppend}">Edit</a>
                            <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/{@adminUri}/media/edit/{@scope}/{@item.id}{@queryStringAppend}">Edit</a>
                                </li>
                                <li>
                                    <a href="/{@adminUri}/media/unlinkimage/{@scope}/{@item.id}{@queryStringAppend}">Unlink image</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="/{@adminUri}/media/delete/{@scope}/{@item.id}{@queryStringAppend}" class="btn-delete">(!) Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {/loop}

                </tbody>
            </table>
        </div>
    </div>

</div>

</div><!--row-->
{if scope = "shop"}
<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-primary pull-right" id="edit-product-images">Add image to product</button>
    </div>
</div>
{/if}
<script>
    $(function() {
        /*
        Modal window with comboBox to select image, preview, and assign to product
         */
        $('#edit-product-images').click(function ()
        {
            var saveButton = $('<button>Save</button>').addClass('btn btn-success');
            var dialog = createDialog('product-image-editor', {allowClose: true, title: 'Add image to product', button: saveButton});

            var form = $('<form></form>').addClass('smart-form');
            var fieldset = $('<fieldset></fieldset>');
            form.append(fieldset);

            fieldset.append(imagePicker('product-image', 'Image'));

            dialog.find('.modal-body').append(form);

            // Set up the save functionality:
            saveButton.on('click', function () {

                var productId = window.location.pathname.substring(window.location.pathname.lastIndexOf('/') + 1);
                var imageId = $('#product-image').val();

                addImageToProduct(productId, imageId);

                dialog.on('hidden.bs.modal', function () {
                    dialog.remove();
                });

                dialog.modal('hide');
            });

            dialog.modal('show');
        });


        function addImageToProduct(productId, imageId) {

            $.get('/'+window.adminUri+'/media/addImageToProductSlug/'+productId+'/'+imageId, {}, function (data) {
               location.reload();
            });
        }

    });

$(document).ready(function(e) {
    $('#table-items tbody').sortable({
        handle: '.handler',
        axis: 'y',
        items: '> tr',
        helper: fixHelper,
        update: function () {
            var position = 0;
            var items = {};

            $('.table-item').each(function () {
                var id = $(this).data('id');
                items[id] = position++;
            });

            savePositions(items);
        }
    });
});


function savePositions(items)
{
    $('.pace').removeClass('hide');

    $.post('{@reorderSaveUrl}', {positions: items}, function () {
        $('.pace').addClass('hide');
    });
}

var fixHelper = function(e, ui) {
    ui.children().each(function() {
        $(this).width($(this).width());
    });
    return ui;
};
</script>
{/if}
