{ifnot hideButton}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 clearfix">
        <a class="btn-default btn pull-right" href="/{@adminUri}/categories/add/shop"><i class="fa fa-plus"></i> Add Category</a>
    </div>
</div>
{/ifnot}

<div class="row" style="margin-top:20px;">
    <div class="col-xs-12">
        <div class="box box-primary">
            {if boxTitle}
            <div class="box-heading">
                <h3 class="box-title">{@boxTitle}</h3>
            </div>
            {/if}

            <div class="box-body no-padding">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th width="200px">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {loop categories}
                    <tr>
                        <td>
                            <a href="/{@adminUri}/shop/category/{@item.id}">{@item.name}</a>  {ifnot value.active}<label class="label label-warning">Inactive</label>{/ifnot}
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm" href="/{@adminUri}/categories/edit/shop/{@item.id}">Edit Category</a>

                                {ifnot value.active}
                                <a class="btn btn-success btn-sm" href="/{@adminUri}/categories/activate/{@item.id}">Activate</a>
                                {/ifnot}

                                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/{@adminUri}/categories/delete/shop/{@item.id}" class="btn-delete">Delete Category</a>
                                    </li>
                                    {ifnot item.active = "0"}
                                    <li>
                                        <a href="/{@adminUri}/categories/deactivate/{@item.id}" class="btn-deactivate">Deactivate Category</a>
                                    </li>
                                    {/ifnot}
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {/loop}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
