<style>
    .select2 {
        padding-top: 0;
        margin-right: 15px;
        min-width: 300px;
        width: auto;
    }
    .select2-container .select2-choice {
        height: 30px;
    }
    .smart-form .label {display:none;}
    .badge {vertical-align: top;}
</style>
{if items}
    <h3>Related products <span class="badge bg-aqua">{count variable: items}</span></h3>
<div class="row">
{for items}
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center">
            <img src="/media/render/{@value.RelatedItem.main_image.id}/200/200" class="thumbnail img-responsive">
            <p style="margin-top: -10px;">{@value.RelatedItem.title}</p>
            <form class="smart-form" id="related-form{@item.id}" action="/{@adminUri}/shop/product-related/{@value.Item.id}" method="post" style="border: none; padding: 0; margin: 0;">
                <input type="hidden" name="itemRelatedId" value="{@value.id}" />
                <input type="hidden" name="action" value="remove" />
                <div style=" width: 100%;">
                    <input class="btn btn-sm btn-warning" type="submit" value="Remove it">
                </div>
            </form>
        </div>
{/for}
</div>
<hr>
<br>
{/if}


{if availableProducts}
<div class="row">
    <div class="col-lg-12">

        <form class="smart-form" action="/{@adminUri}/shop/product-related/{@product.id}" method="post">
            <input type="hidden" name="action" value="add" />
            <fieldset>
                <legend>Add Related product</legend>
                <section>
                    <label class="label">Products: </label>
                    <label class="select">
                        <select class="select2" size="1" name="relatedItem">
                            {for availableProducts}
                            <option value="{@item.id}">{@item.title} [{@item.Category.name}]</option>
                            {/for}
                        </select>
                    </label>
                    <button id="add-item" type="submit" class="btn btn-primary btn-sm">Add</button>
                </section>
            </fieldset>

        </form>
    </div>
</div>
{/if}

<script>
$(document).ready( function(e) {

});
</script>
