<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="page-title txt-color-blueDark"><i class="fa fa-fw fa-shopping-cart"></i> Manage Variants: {@product.title}</h1>
</div>

{if items}
<div class="row">
<div class="col-lg-12">

{for variants}
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">{@item.title}</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-primary btn-xs" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-primary btn-xs btn-delete" data-widget="remove-variant" data-variantid="{@item.id}" data-itemid="{@product.id}"  data-toggle="tooltip" title="" data-original-title="Remove variatns from product"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body" style="display: block;">
            <table class="table table-bordered table-striped" id="menu-items">
            <thead>
            <tr>
                <th>Title</th>
                <th width="20%">Price Adjustment</th>
            </tr>
            </thead>
            <tbody>
            {loop item.options}
            <tr class="menu-item" data-id="{@item.id}">
                <td>{@item.title}</td>
                <td style="padding-right: 5px"><input class="menu-item-title form-control variant_price" style="padding-left: 5px;" name="price[{@item.item_variant_id}]" type="text" value="{@item.price_adjustment}"></td>
            </tr>
            {/loop}
            </tbody>
        </table>
        </div><!-- /.box-body -->

    </div>


{/for}
</div>
</div>

<form class="smart-form" id="variants-form" action="/{@adminUri}/shop/product-variants/{@product.id}" method="post" style="border: none; padding: none; margin: none;">
    <div style="margin: 40px auto; width: 150px;">
        <input class="btn btn-lg btn-success" type="submit" value="Save variants price adjustments">
    </div>
</form>
{/if}


{if availableVariants}
<div class="row">
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Not assigned variants:</h3>
            </div>
            <form class="smart-form" action="/{@adminUri}/shop/product-variants/{@product.id}" method="post">
                <div class="box-body">
                    <section class="form-group">
                        <label for="new_variant">Variant</label>
                            <select class="form-control select2" name="new_variant" id="new_variant">
                                {for availableVariants}
                                <option value="{@item.id}">{@item.title}</option>
                                {/for}
                            </select>

                    </section>
                </div><!-- /.box-body -->
                <div class="box-footer">
                        <button id="add-item" type="submit" class="btn btn-primary">
                            Add Variant
                        </button>
                </div><!-- /.box-footer-->
            </form>
        </div>


    </div>
</div>
{/if}

<script>
$(document).ready( function(e) {
    $('#variants-form').submit( function(e) {
        e.preventDefault();
        var form = $(this);
        $('#variants_form input.price_adjustment').remove();

        $('input.variant_price').each( function(vp) {
            form.append( '<input class="price_adjustment" type="hidden" name="' + $(this).attr('name') + '" value="' + $(this).val() + '">');
        });

        form.off("submit");
        form.submit();
    });
});
</script>
