<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 clearfix">
        <a class="btn-default btn pull-right" href="/{@adminUri}/blog/add"><i class="fa fa-plus"></i> Add Entry</a>
    </div>
</div>
<br>

<div class="row">
    <div class="col-lg-12">
        <div class="box box-primary">
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Author</th>
                        <th>Created</th>
                        <th width="170px">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {loop articles}
                    <tr>
                        <td>{@item.title}</td>
                        <td>{@item.Category.name}</td>
                        <td>{if item.guest_author_name}
                            {@item.guest_author_name}
                            {/if}
                            {ifnot item.guest_author_name}
                            {@item.Author.name}
                            {/if}
                        </td>
                        <td>{date_format date: item.created_date}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm" href="/{@adminUri}/blog/edit/{@item.id}">Edit</a>
                                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/{@adminUri}/blog/edit/{@item.id}">Edit</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="/{@adminUri}/blog/delete/{@item.id}" class="btn-delete">Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {/loop}
                    </tbody>
                </table>
            </div>
        </div>

        <div id="pagination">
            {pagination uri: pagination.uri; current: pagination.current; total: pagination.total; limit: pagination.limit}
        </div>
    </div>
</div>
