<div class="col-lg-12">
    <div class="box box-danger">
        <div class="box-header">
            <h3 class="box-title">Broken Links</h3>
        </div>

        <div class="box-body no-padding">
            <div role="content-fluid">
                <div class="row">
                    <div class="col-md-5"><h4>URL</h4></div>
                    <div class="col-md-5"><h4>Linked From</h4></div>
                    <div class="col-md-2"><h4>Status</h4></div>
                </div>

                {for deadLinks}
                <div class="row" styles="padding:2px;">
                    <div class="col-md-5" style="">{@value.url}</div>
                    <div class="col-md-5" style="">{@value.parent_url}</div>
                    <div class="col-md-2" style="">
                        {if value.http_response_code = 404}
                        Page Not Found
                        {/if}

                        {if value.http_response_code = 500}
                        Server Error
                        {/if}

                        {if value.http_response_code = 0}
                        Connect Error
                        {/if}

                        {if value.http_response_code = 9001}
                        Blacklisted
                        {/if}
                    </div>
                </div>
                {/for}

            </div>
        </div>
    </div>
</div>